src/main/resources/service/wsdl/SoapServiceWSDL.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions 
	xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
	xmlns:sch="http://schemas.soapws.com/test/ws/soapws" 
	xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns:tns="http://schemas.soapws.com/test/ws/soapws/definitions" 
	targetNamespace="http://schemas.soapws.com/test/ws/soapws/definitions" 
	xmlns:p="http://www.w3.org/2001/XMLSchema">
	<wsdl:types>
		<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" 
				   targetNamespace="http://schemas.soapws.com/test/ws/soapws" 
				   xmlns:tns="http://schemas.soapws.com/test/ws/soapws"
				   elementFormDefault="qualified">
			
			<xs:element name="params" type="tns:params" />
			<xs:element name="firstRequest" type="tns:firstRequest" />
			<xs:element name="firstResponse" type="tns:firstResponse" />
			<xs:element name="secondRequest" type="tns:secondRequest" />
			<xs:element name="secondResponse" type="tns:secondResponse" />
			<xs:element name="thirdRequest" type="tns:thirdRequest" />
			<xs:element name="thirdResponse" type="tns:thirdResponse" />
			
			<xs:complexType name="params">
				<xs:sequence>
					<xs:element minOccurs="0" name="key" type="xs:string"/>
					<xs:element minOccurs="0" name="code" type="xs:string"/>
				</xs:sequence>
			</xs:complexType>
			
			<xs:complexType name="firstRequest">
				<xs:sequence>
					<xs:element minOccurs="1" name="name" type="xs:string"/>
					<xs:element minOccurs="1" name="lastname" type="xs:string"/>
					<xs:element minOccurs="1" name="email" type="xs:string"/>
					<xs:element minOccurs="0" name="status" type="xs:string"/>
					<xs:element minOccurs="0" maxOccurs="unbounded" name="paramFields" type="tns:params"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="firstResponse">
				<xs:sequence>
					<xs:element minOccurs="1" name="success" type="xs:boolean"/>
					<xs:element minOccurs="0" name="id" type="xs:string"/>
					<xs:element minOccurs="0" name="message" type="xs:string"/>
					<xs:element minOccurs="0" maxOccurs="unbounded" name="paramFields" type="tns:params"/>
				</xs:sequence>
			</xs:complexType>
			
			<xs:complexType name="secondRequest">
				<xs:sequence>
					<xs:element minOccurs="1" name="id" type="xs:string"/>
					<xs:element minOccurs="0" maxOccurs="unbounded" name="paramFields" type="tns:params"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="secondResponse">
				<xs:sequence>
					<xs:element minOccurs="1" name="success" type="xs:boolean"/>
					<xs:element minOccurs="0" name="name" type="xs:string"/>
					<xs:element minOccurs="0" name="lastname" type="xs:string"/>
					<xs:element minOccurs="0" name="email" type="xs:string"/>
					<xs:element minOccurs="0" name="status" type="xs:string"/>
					<xs:element minOccurs="0" name="message" type="xs:string"/>
					<xs:element minOccurs="0" maxOccurs="unbounded" name="paramFields" type="tns:params"/>
				</xs:sequence>
			</xs:complexType>
			
			<xs:complexType name="thirdRequest">
				<xs:sequence>
					<xs:element minOccurs="1" name="email" type="xs:string"/>
					<xs:element minOccurs="0" maxOccurs="unbounded" name="paramFields" type="tns:params"/>
				</xs:sequence>
			</xs:complexType>
			<xs:complexType name="thirdResponse">
				<xs:sequence>
					<xs:element minOccurs="1" name="success" type="xs:boolean"/>
					<xs:element minOccurs="0" name="name" type="xs:string"/>
					<xs:element minOccurs="0" name="lastname" type="xs:string"/>
					<xs:element minOccurs="0" name="email" type="xs:string"/>
					<xs:element minOccurs="0" name="status" type="xs:string"/>
					<xs:element minOccurs="0" name="message" type="xs:string"/>
					<xs:element minOccurs="0" maxOccurs="unbounded" name="paramFields" type="tns:params"/>
				</xs:sequence>
			</xs:complexType>
		
		</xs:schema>	
    </wsdl:types>
	
	<wsdl:message name="firstRequest">
		<wsdl:part element="sch:firstRequest" name="firstRequest"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="firstResponse">
		<wsdl:part element="sch:firstResponse" name="firstResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="secondRequest">
		<wsdl:part element="sch:secondRequest" name="secondRequest"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="secondResponse">
		<wsdl:part element="sch:secondResponse" name="secondResponse"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="thirdRequest">
		<wsdl:part element="sch:thirdRequest" name="thirdRequest"></wsdl:part>
	</wsdl:message>
	<wsdl:message name="thirdResponse">
		<wsdl:part element="sch:thirdResponse" name="thirdResponse"></wsdl:part>
	</wsdl:message>

	<wsdl:portType name="soapPort">
		<wsdl:operation name="first">
			<wsdl:input message="tns:firstRequest" name="firstRequest"></wsdl:input>
			<wsdl:output message="tns:firstResponse" name="firstResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="second">
			<wsdl:input message="tns:secondRequest" name="secondRequest"></wsdl:input>
			<wsdl:output message="tns:secondResponse" name="secondResponse"></wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="third">
			<wsdl:input message="tns:thirdRequest" name="thirdRequest"></wsdl:input>
			<wsdl:output message="tns:thirdResponse" name="thirdResponse"></wsdl:output>
		</wsdl:operation>
	</wsdl:portType>
	
	<wsdl:binding name="soapPortSoap" type="tns:soapPort">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
		
		<wsdl:operation name="first">
			<soap:operation soapAction="" />
			<wsdl:input>
				<soap:body parts="firstRequest" use="literal" />
			</wsdl:input>
			<wsdl:output name="firstResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="second">
			<soap:operation soapAction="" />
			<wsdl:input>
				<soap:body parts="secondRequest" use="literal" />
			</wsdl:input>
			<wsdl:output name="secondResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
		<wsdl:operation name="third">
			<soap:operation soapAction="" />
			<wsdl:input>
				<soap:body parts="thirdRequest" use="literal" />
			</wsdl:input>
			<wsdl:output name="thirdResponse">
				<soap:body use="literal" />
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	
	<wsdl:service name="soapPortService">
		<wsdl:port binding="tns:soapPortSoap" name="soapPortSoap">
			<soap:address location="http://localhost:8080/soapws/" />
		</wsdl:port>
	</wsdl:service>
</wsdl:definitions>
